<%_ const postUrl = locals.edit ? `/categories/${data.id}/edit` : "/categories/new" _%>
<form action=<%= postUrl %> method="POST">
  <%- include("formValidationErrors.ejs") _%>
  <fieldset>
    <%- include("input.ejs",{type: "text", name: "name", label: "Name", maxlength: process.env.NAME_MAX_LENGTH, required: true,  pattern: process.env.NAME_REGEX, title: process.env.NAME_REGEX_MSG}) _%>
    <%- include("textarea.ejs",{name: "notes", label: "Notes", maxlength: process.env.NOTES_MAX_LENGTH, pattern: process.env.NOTES_REGEX, title: process.env.NOTES_REGEX_MSG}) _%>
  </fieldset>
  <%- include("protectedFieldset.ejs") _%>
  <fieldset>
    <legend>Ingredients Rules</legend>
    <p>
      Select the ingredients that are
      <span class="enforcing" title="These ingredients automatically add this category (unless incompatible)">enforcing</span>
      this category or
      <span class="incompatible" title="These ingredients automatically exclude this category">incompatible</span>
      with it.
    </p>
    <%- include("multiStateCheckboxInputList.ejs", {list: ingredients, states: ["none","enforcingIngredients","incompatibleIngredients"]}) _%>
  </fieldset>
  <fieldset>
    <legend>Apply to these Pizzas</legend>
    <%- include("protectedCheckboxInputList.ejs", {name: "pizzas", list: pizzas, protectedValues: protectedPizzas}) _%>
  </fieldset>
  <div>
    <button type="button" onclick="history.back()">Back</button>
    <button type="submit"><%= locals.edit ? "UPDATE" : "CREATE" _%></button>
  </div>
</form>
<%- include("multiStateCheckboxScript.ejs") _%>