<header>
  <h1><a href="/"><%= pageTitle %></a></h1>
  <a href="/search"><span class="icon icon-search" title="Search"></a>
  <nav>
    <a href="/pizzas" class="<%= locals.highlightLink === 'pizzas' ? 'highlight-link' : '' %>">Pizzas</a>
    <a href="/categories" class="<%= locals.highlightLink === 'categories' ? 'highlight-link' : '' %>">Categories</a>
    <a href="/ingredients" class="<%= locals.highlightLink === 'ingredients' ? 'highlight-link' : '' %>">Ingredients</a>
    <a href="/doughs" class="<%= locals.highlightLink === 'doughs' ? 'highlight-link' : '' %>">Doughs</a>
  </nav>
</header>