<%_ if (ingredientsBriefData?.length > 0) { _%>
<table class="fill-first-column with-actions responsive ingredients-brief">
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Stock</th>
      <th>Price</th>
      <th aria-label="Protected"></th>
      <th aria-label="Actions"></th>
    </tr>
  </thead>
  <tbody>
    <%_ ingredientsBriefData.forEach(data => { _%>
    <tr>
      <td data-label="Ingredient"><%- include("ingredientLink.ejs", data) %></td>
      <td data-label="Stock"><span><%=data.stock %></span></td>
      <td data-label="Price"><span><%=data.price %></span></td>
      <td data-label="Protected"><span><%- include("isProtectedSymbol.ejs", {is_protected: data.is_protected}) %></span></td>
      <td data-label="Actions"><%- include("itemActions.ejs", {baseRoute: "/ingredients", id: data.id}) %></td>
    </tr>
    <%_ }) _%>
  </tbody>
</table>
<%_ } else { _%>
<p class="empty-table ingredients-brief">No items yet!</p>
<%_ } _%>