<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Protected</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%_ ingredientsBriefData.forEach(data => { _%>
    <tr>
      <td><%- include("ingredientLink.ejs", data) %></td>
      <td><%=data.stock %></td>
      <td><%=data.price %></td>
      <td><%- include("isProtectedSymbol.ejs", {is_protected: data.is_protected}) %></td>
      <td><%- include("itemActions.ejs", {baseRoute: "/ingredients", id: data.id}) %></td>
    </tr>
    <%_ }) _%>
  </tbody>
</table>