<%_ 
const postUrl = `/pizzas/${data.id}/order`;
const disabled = data.availability === 0;
_%>
<form action=<%= postUrl %> method="POST">
  <%_ if(disabled) { _%>
  <div class="border" role="alert" aria-live="assertive">
    <p>There are <strong><%= data.availability %> servings</strong> of this pizza available (with base dough). This may be due to missing ingredients. Try selecting a different dough.</p>
  </div>
  <%_ } else { _%>
  <p>There are <strong><%= data.availability %> servings</strong> of this pizza available (with base dough).</p>
  <%_ } _%>
  <fieldset>
    <legend>Order</legend>
    <%- include("input.ejs", {type: "number", value: 1, name: "unitsToOrder", label: "Units", min: 1, max: data.availability, step: 1, required: true, disabled}) _%>
    <%# temporary doughId. Todo: select the dough from the available ones #%>
    <input type="hidden" name="doughId" value=<%= process.env.BASE_DOUGH_ID %>>
  </fieldset>
  <%- include("formActions.ejs", {fallbackUrl: "/pizzas",label: "ORDER", disableSubmit: disabled }) _%>
  </div>
</form>