<%_ const postUrl = locals.edit ? `/pizzas/${data.id}/edit` : "/pizzas/new" _%>
<form action=<%= postUrl %> method="POST">
  <%- include("formValidationErrors.ejs") _%>
  <fieldset>
    <%- include("input.ejs",{type: "text", name: "name", label: "Name", maxlength: process.env.NAME_MAX_LENGTH, required: true,  pattern: process.env.NAME_REGEX, title: process.env.NAME_REGEX_MSG}) _%>
    <%- include("textarea.ejs",{name: "notes", label: "Notes", maxlength: process.env.NOTES_MAX_LENGTH, pattern: process.env.NOTES_REGEX, title: process.env.NOTES_REGEX_MSG}) _%>
    <p class="note-text">* The price is calculated as the sum of the base dough cost and the cost of each used ingredient. The stock is determined by the lowest value between the dough's stock and that of the used ingredients.</p>
  </fieldset>
  <%- include("protectedFieldset.ejs") _%>
  <fieldset>
    <legend>Ingredients</legend>
    <%- include("checkboxInputList.ejs", {name: "ingredients", list: ingredients, data: locals.data}) _%>
  </fieldset>
  <fieldset>
    <legend>Categories</legend>
    <p>The final categories include those enforced by the selected ingredients and exclude any that are incompatible with them.</p>
    <%- include("checkboxInputList.ejs", {name: "categories", list: categories, data: locals.data}) _%>
  </fieldset>
  <%- include("formActions.ejs", {fallbackUrl: "/pizzas", label: locals.edit ? "UPDATE" : "CREATE"}) _%>
</form>