<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Category: <%= categoryData.name %></title>
  <%- include("partials/headGenericElements.ejs",{hasTables: true}) %>
</head>

<body class="doodle">
  <%- include("partials/header.ejs",{highlightLink: "categories"}) %>

  <main>
    <div class="item-details-title">
      <h2><%= categoryData.name %></h2>
      <%- include("partials/isProtectedSymbol.ejs", {is_protected: categoryData.is_protected}) %>
    </div>

    <%- include("partials/itemActions.ejs", {baseRoute: "/categories", id: categoryData.id}) %>

    <%- include("partials/categoryDetailsTable.ejs", categoryData) %>

    <section>
      <h3>Pizzas in this Category</h3>
      <%- include("partials/pizzasBriefTable.ejs", {pizzasBriefData: categoryData.actual_for_pizzas}) %>
    </section>

    <section>
      <h3>Ingredient Rules</h3>
      <%- include("partials/ingredientsPerCategoryTable.ejs", categoryData) %>
    </section>

    <section>
      <h3>Pizzas Rules</h3>
      <%- include("partials/pizzasPerCategoryTable.ejs", categoryData) %>
    </section>

    <%- include("partials/dateInfoP.ejs", categoryData) %>
  </main>

  <%- include("partials/creditFooter.ejs") %>
</body>

</html>