<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Categories</title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "categories"}) %>
  <h2>Categories</h2>
  <a href="/categories/new">New</a>
  <%- include("partials/categoriesBriefTable.ejs") %>
</body>
<%- include("partials/creditFooter.ejs") %>

</html>