<!DOCTYPE html>
<html lang="en">

<%_ const subtitle = `Delete Dough "${data.name}"` _%>

<head>
  <title><%= pageTitle %> | <%= subtitle %></title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body class="doodle">
  <%- include("partials/header.ejs",{highlightLink: "doughs"}) %>

  <main>
    <h2><%= subtitle %></h2>
    <%- include("partials/doughDeleteForm.ejs") %>
  </main>

  <%- include("partials/creditFooter.ejs") %>
</body>

</html>