<!DOCTYPE html>
<html lang="en">

<%_ const subtitle = locals.edit ? `Edit Dough "${locals.name ?? data.name}"` : "Add New Dough" _%>

<head>
  <title><%= pageTitle %> | <%= subtitle %></title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body class="doodle">
  <%- include("partials/header.ejs",{highlightLink: "doughs"}) %>

  <main>
    <h2><%= subtitle %></h2>
    <%- include("partials/doughNewEditForm.ejs") %>
  </main>

  <%- include("partials/creditFooter.ejs") %>
</body>

</html>