<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %></title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body class="doodle">
  <%- include("partials/header.ejs") %>

  <main class="border index">
    <h2><%= pageTitle %></h2>
    <picture>
      <img src="/images/pizza.png" alt="Image of a pizza" />
      <a href="https://www.freepik.com/free-psd/hand-drawn-delicious-food-restaurant-instagram-post_30859579.htm">Image by freepik</a>
    </picture>
    <div>
      <a class="button" href="/pizzas">All Pizzas</a>
      <a class="button" href="/categories">All Categories</a>
      <a class="button" href="/ingredients">All Ingredients</a>
    </div>
  </main>

  <%- include("partials/creditFooter.ejs") %>
</body>

</html>