<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Ingredients</title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "ingredients"}) %>
  <h2>Ingredients</h2>
  <a href="/ingredients/new">New</a>
  <%- include("partials/ingredientsBriefTable.ejs") %>
</body>

<%- include("partials/creditFooter.ejs") %>

</html>