<!DOCTYPE html>
<html lang="en">

<%_ const subtitle = locals.edit ? `Edit Ingredient "${data.name}"` : "Add New Ingredient" _%>

<head>
  <title><%= pageTitle %> | <%= subtitle %></title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body class="doodle">
  <%- include("partials/header.ejs",{highlightLink: "ingredients"}) %>

  <main>
    <h2><%= subtitle %></h2>
    <%- include("partials/ingredientNewEditForm.ejs") %>
  </main>

  <%- include("partials/creditFooter.ejs") %>
</body>

</html>