<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Pizza: <%= pizzaData.name %></title>
  <%- include("partials/headGenericElements.ejs",{hasTables: true, hasDates: true}) %>
</head>

<body class="doodle">
  <%- include("partials/header.ejs",{highlightLink: "pizzas"}) %>

  <main>
    <div class="item-details-title">
      <h2><%= pizzaData.name %></h2>
      <%- include("partials/isProtectedSymbol.ejs", {is_protected: pizzaData.is_protected}) %>
    </div>

    <div class="item-details-nav">
      <a href="/pizzas"><span class="icon icon-back"></span>All Pizzas</a>
      <%- include("partials/itemActions.ejs", {baseRoute: "/pizzas", id: pizzaData.id, showOrder: true}) %>
    </div>

    <%- include("partials/pizzaDetailsTable.ejs", pizzaData) %>
    <p class="note-text">* The price is calculated as the sum of the base dough cost and the cost of each used ingredient. The stock is determined by the lowest value between the dough's stock and that of the used ingredients.</p>

    <section>
      <h3>Ingredients Details</h3>
      <%- include("partials/ingredientsPerPizzaTable.ejs", pizzaData) %>
    </section>

    <section>
      <h3>Categories Details</h3>
      <%- include("partials/categoriesPerPizzaTable.ejs", pizzaData) %>
    </section>

    <%- include("partials/dateInfoP.ejs", pizzaData) %>
  </main>

  <%- include("partials/creditFooter.ejs") %>
</body>

</html>