<!DOCTYPE html>
<html lang="en">

<%_ const subtitle = locals.edit ? `Edit Pizza "${data.name}"` : "Add New Pizza" _%>

<head>
  <title><%= pageTitle %> | <%= subtitle %></title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "pizzas"}) %>
  <h2><%= subtitle %></h2>
  <%- include("partials/pizzaMutationForm.ejs") %>
</body>

<%- include("partials/creditFooter.ejs") %>

</html>