<!DOCTYPE html>
<html lang="en">

<%_ const subtitle = `Delete Pizza "${data.name}"` _%>

<head>
  <title><%= pageTitle %> | <%= subtitle %></title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "pizzas"}) %>
  <h2><%= subtitle %></h2>
  <%- include("partials/pizzaDeleteForm.ejs") %>
</body>

<%- include("partials/creditFooter.ejs") %>

</html>