<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Pizzas</title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "pizzas"}) %>
  <h2>Pizzas</h2>
  <a href="/pizzas/new">New</a>
  <%- include("partials/pizzasBriefTable.ejs", {pizzasBriefData}) %>
</body>

<%- include("partials/creditFooter.ejs") %>

</html>