<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Pizza: <%= pizzaData.name %></title>
  <%- include("partials/headGenericElements.ejs") %>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "pizzas"}) %>
  <h2><%= pizzaData.name %></h2>

  <%- include("partials/isProtectedSymbol.ejs", {is_protected: pizzaData.is_protected}) %>
  <%- include("partials/itemActions.ejs", {baseRoute: "/pizzas", id: pizzaData.id}) %>

  <%- include("partials/pizzaDetailsTable.ejs", pizzaData) %>

  <hr>
  <section>
    <h3>Ingredients Details</h3>
    <%- include("partials/ingredientsPerPizzaTable.ejs", pizzaData) %>
  </section>

  <hr>
  <section>
    <h3>Categories Details</h3>
    <%- include("partials/categoriesPerPizzaTable.ejs", pizzaData) %>
  </section>

  <hr>
  <%- include("partials/dateInfoP.ejs", pizzaData) %>

</body>

<%- include("partials/creditFooter.ejs") %>

</html>