<!DOCTYPE html>
<html lang="en">

<%_ const subtitle = locals.edit ? `Edit Pizza "${data.name}"` : "Add New Pizza" _%>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %> | <%= subtitle %></title>
</head>

<body>
  <%- include("partials/header.ejs",{highlightLink: "pizzas"}) %>
  <h2><%= subtitle %></h2>
  <%- include("partials/pizzaMutationForm.ejs") %>
</body>

</html>