<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= pageTitle %> | Pizza: <%= pizzaData.name %></title>
  <%- include("partials/headGenericElements.ejs",{hasTables: true}) %>
</head>

<body class="doodle">
  <%- include("partials/header.ejs",{highlightLink: "pizzas"}) %>

  <main>
    <div class="item-details-title">
      <h2><%= pizzaData.name %></h2>
      <%- include("partials/isProtectedSymbol.ejs", {is_protected: pizzaData.is_protected}) %>
    </div>

    <%- include("partials/itemActions.ejs", {baseRoute: "/pizzas", id: pizzaData.id}) %>


    <%- include("partials/pizzaDetailsTable.ejs", pizzaData) %>

    <section>
      <h3>Ingredients Details</h3>
      <%- include("partials/ingredientsPerPizzaTable.ejs", pizzaData) %>
    </section>

    <section>
      <h3>Categories Details</h3>
      <%- include("partials/categoriesPerPizzaTable.ejs", pizzaData) %>
    </section>

    <%- include("partials/dateInfoP.ejs", pizzaData) %>
  </main>

  <%- include("partials/creditFooter.ejs") %>
</body>

</html>